* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    min-width: 100px;

    padding: 10px 150px;

    border-radius: 50px;
    border: none;

    transition: .35s;
}

button:hover {
    transform: scale(1.1);
}